{{yield}}
  <div class="bed-row layout-row layout-align-start-start layout-md-row">
      <div class="flex-25">
        {{bed.index}}</div>
        <div class="flex-20">
        
                {{#auto-save model=bed as |bed_as|}}
                {{paper-input type="number" min="1" autofocus=true value=bed_as.length onChange=(action (mut bed_as.length))}}
                    {{/auto-save}}
                    </div>
                    <div class="flex-5">
             m
                </div>
        
        </div>
