{{yield}}

{{#if showAddCustomerCategoryDialog}}
  {{#paper-dialog fullscreen=true onClose=(action "closeAddCustomerCategoryDialog" "cancel") origin=dialogOrigin}}

    {{#paper-dialog-content}}
      <h2 class="md-title">Ny kundkategory</h2>
      {{paper-input placeholder="namn" autofocus=true value=customerCategoryName onChange=(action (mut customerCategoryName))}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row" }}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeAddCustomerCategoryDialog" "cancel")}}Avbryt{{/paper-button}}
      {{#paper-button primary=true onClick=(action "closeAddCustomerCategoryDialog" "ok" customerCategoryName)}}Skapa kategory{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}



    {{#each model as |category|}}
        {{#customer-category-listing category=category}}{{/customer-category-listing}}
    {{/each}}

  {{#paper-button onClick=(action "openAddCustomerCategoryDialog")}}Ny kategori{{/paper-button}}
