
      <md-chip class="md-chip md-default-theme md-readonly">
        <div class="md-chip-content" tabindex="-1" aria-hidden="true">
          <div class="md-contact-avatar">
            <img src={{dc.crop.imageURLSub}}>
          </div>
          <span class="md-contact-name">{{dc.amount}} {{dc.order_type}} {{dc.crop.long_name}}</span>
        </div>
      </md-chip>
