{{yield}}
{{#paper-item class="md-3-line"}}
      <div class="md-list-item-text">
        <h3>{{delivery.customer.name}}</h3>
        <h4>{{delivery.date}}</h4>
        <p>{{delivery.crops.length}} st Grödor</p>
      </div>
{{/paper-item}}