
<div class="flex-100 layout-row layout-wrap">
    {{#each filteredDeliveries as |delivery|}}
        {{#delivery-card class="flex-100 flex-gt-md-50" delivery=delivery}}{{/delivery-card}}
    {{/each}}
</div>

