

@import 'ember-paper';
@import "ember-paper-expansion-panel";
md-sidenav.site-sidenav {
    background: color($primary, '400');
}  

md-sidenav button {
    text-align:left !important;
}

md-sidenav {
    background:color($primary, '100');
}

md-sidenav md-content {
    background:color($primary, '100');   
}

md-sidenav md-content .md-button {
    text-align:left;
}

.bed-row md-input-container {
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;

}

/*
button.md-fab {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position:fixed !important;
}*/

