    {{#paper-toolbar class="md-whiteframe-1dp page-main-toolbar" as |toolbar|}}
      {{#toolbar.tools}}
        {{#paper-sidenav-toggle name="left" as |toggleAction|}}
          {{#paper-button class="hide-gt-sm" onClick=(action toggleAction) iconButton=true}}
            {{paper-icon "menu"}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}
        <h2>
          Fält och bäddar

        </h2>
      {{/toolbar.tools}}
    {{/paper-toolbar}}


<md-content md-scroll-y="" id="ember489" class="layout-padding flex md-default-theme ember-view">
<div class="doc-content">

{{field-list model=model}}
</div>
    

{{outlet}}

</md-content>